{% extends 'base.html' %}
{% block title %}
	Welcome to CSCB63, please feel free to leave feedback.
{% endblock %}


{% block content %}
    <section class="section">
        {% if emsg != "" %} <!-------------------------------------new-->
        <p id = "error_message"> {{emsg}} </p> <!-------------------------------------new-->
        {%endif%} 
        <form action="/feedback" method="POST">
            <label for="username">Instructor's Name</label>
            <select name="instructor_name" id="instructor_name">
                {% for instructorname in instructor_list %}
                <option value="{{instructorname}}">{{instructorname}}</option>
                {% endfor %}
            </select>
            <hr>
            <label for="Q1">(a) What do you like about the instructor teaching?</label><br>
            <textarea name="A1" placeholder="Please enter your comment here" rows=10 cols=87></textarea>
            <hr>
            <label for="Q2">(b) What do you recommend the instructor to do to improve their teaching?</label><br>
            <textarea name="A2" placeholder="Please enter your comment here" rows=10 cols=87></textarea>
            <hr>
            <label for="Q3">(c) What do you like about the labs?</label><br>
            <textarea name="A3" placeholder="Please enter your comment here" rows=10 cols=87></textarea>
            <hr>
            <label for="Q4">(d) What do you recommend the lab instructors to do to improve their lab teaching?</label><br>
            <textarea name="A4" placeholder="Please enter your comment here" rows=10 cols=87></textarea>
            <hr>
            <input type="submit" name="submit" value="Submit">
        </form>
        
    </section>
{% endblock %}